<style>
  body {
      font-family: sans-serif;
  }
  td {
      vertical-align: text-top;
  }
  tr.button {
      text-align: center;
  }
  .dataframe {
      width: 40%;
      font-size: 80%;
      font-family: monospace;
  }
  th.prompt {
      background-color: papayawhip;
  }
  td.judgement {
      text-align: center;
      background-color: whitesmoke;
  }
</style>

<table>
  <tr><th colspan="2">{{ name }}</th></tr>
  <tr>
    <td>
      {{ log|safe }}
    </td>
    <td width="60%">
      <table cellpadding="5" cellspacing="3" class="canvas">
	<form>
	  <input type="hidden" name="uid" value="{{ uid }}">
	  <input type="hidden" name="log" value="{{ name }}">
	  <input type="hidden" name="summary" value="{{ summary }}">
	  {% for i in responses %}
	  <tr><th class="prompt">{{ i['prompt'] }}</th></tr>
	  <tr><td>
	      {% if i['response'] %}
	      {{ i['response']|safe }}
	      {% else %}
	      <i>No response from the LLM</i>
	      {% endif %}
	  </td></tr>
	  <tr><td class="judgement">{{ i['judgement']|safe }}</td></tr>
	  <tr><td><hr></td></tr>
	  {% endfor %}
	  <tr class="button">
	    <td>
	      <input type="reset">
	      <input type="submit">
	    </td>
	  </tr>
	</form>
      </table>
    </td>
  </tr>
</table>
